<div class="container leader">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div id="white">
				<h2 id="cen">LEADERBOARD</h2>
			</div>
		</div>
	</div>

    <div ng-controller = "LeaderController">
        <div ng-repeat = "player in leaders">
            <p>{{player}} :  {{leaders.player}}</p>
        </div>
    
    
    </div>
    
    <!--
	<div class="row">
		<div>
			<h3>New Row</h3>
		</div>
	</div>
	<div class="row">
		<div>
			<p>New Row 1</p>
		</div>
	</div>
-->
</div>