<!DOCTYPE html>
<html ng-app=myApp>
	<head>

		<title>Forum</title>
		<link rel="stylesheet" type="text/css" href="C:\Users\Ripmm\Desktop\ASSGAME\css\bootstrap.min.css">

		<style type="text/css">
			
			body {
				background-color:#2d2d2d;
				color:white;
			}

			.jumbotron {
				background-image:url('space-earth.jpg');
				height:40em;
				background-repeat:no-repeat;
				background-position:center;
				background-size:100%;
				text-align:center;
			}

			table {
				background-color:grey;
				color:black;
				border-radius:15px;
			}

		</style>

	</head>

	<body>

		<nav class="navbar navbar-inverse">
		  <div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">WebSiteName</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Page 1</a></li>
		      <li><a href="#">Page 2</a></li>
		      <li><a href="#">Page 3</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="jumbotron">
		  <h1>Forums Page</h1>
		  <p>Here is a forum page where you guys drop down any questions for the rest of other users to answer!</p>
		</div>

		<div class="container" ng-controller="appCtrl" ng-if="no-post">
			<h3>Search Box</h3>
			<input type="text" placeholder="Search Topic">
			<br><br><br>
			<table class="table table">
				<thead>
					<tr>
						<th>Thread</th>
						<th>Author</th>
						<th>Date</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in arrayList">
						<td>{{list.thread}}</td>
						<td>{{list.author}}</td>
						<td>{{list.date}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="app.js"></script>
	</body>

</html>